In [1]:
print('One''Two''Three')

OneTwoThree

In [2]:
for num in range(0, 20, 5):
    num += num
print(num)

30

In [3]:
limit = 1
while limit < 5:
    limit += 1
    if limit == 3:
        continue;
    print(limit)

2
4
5

In [4]:
limit = 1
while limit < 10:
    limit += 1
    if limit > 4:
        break;
    print(limit)

2
3
4

In [5]:
student = 1
while student <= 3:
    total = 0
    for score in range(1, 4):
        score = int(input("Enter test score: "))
        total += score
    average = total/3
    print("Student ", student, "average: ", average)
    student += 1

Enter test score:  33
Enter test score:  33
Enter test score:  33

Student  1 average:  33.0

Enter test score:  44
Enter test score:  55
Enter test score:  44

Student  2 average:  47.666666666666664

Enter test score:  33
Enter test score:  22
Enter test score:  4545

Student  3 average:  1533.3333333333333

In [6]:
for x in range(4):
    turtle.forward(200)
    turtle.right(90)

NameError: name 'turtle' is not defined

In [ ]:
count = 4
while count < 12:
    print("counting")
    count = count + 2

In [ ]:
total = 0
for count in range(4,6):
    total += count
    print(total)

In [ ]:
total = 0
for count in range(1,4):
    total += count
print(total)

In [ ]:
def show_values(a=0, b=1, c=2, d=3):
    print(a, b, c, d)
show_values(c=99)

In [ ]:
def show_values(a, b, *, c, d):
    e = 99
    print(a, b, c, d, e)
show_values(1, 2, d=30, c=40)

In [ ]:
def main():
    print("The answer is", magic(5))
def magic(num):
    answer = num + 2 * 10
    return answer

if __name__ == '__main__':
    main()

In [ ]:
def pass_it(x, y):
    z = x*y
    result = get_result(z)
    return(result)
def get_result(number):
    z = number + 2
    return(z)
num1 = 3
num2 = 4
answer = pass_it(num1, num2)
print(answer)

In [ ]:
import turtle
def main():
    turtle.hideturtle()
    square(100,0,50,'blue')
    
def square(x, y, width, color):
    turtle.penup()
    turtle.goto(x, y)
    turtle.fillcolor(color)
    turtle.pendown()
    turtle.begin_fill()
    for count in range(2):
        turtle.forward(width)
        turtle.left(90)
    turtle.end_fill()
        
if __name__ == '__main__':
    main()

In [ ]:
def show_values(a, b, /, c, d):
    print(a, b, c, d)

In [ ]:
def pass_it(x, y):
    z = y**x
    return(z)
num1 = 3
num2 = 4
answer = pass_it(num1, num2)
print(answer)

In [7]:
import turtle

def main():
    turtle.hideturtle()
    square(100,0,50,'blue')
    
def square(x, y, width, color):
    turtle.penup()
    turtle.goto(x, y)
    turtle.fillcolor(color)
    turtle.pendown()
    turtle.begin_fill()
    for count in range(4):
        turtle.forward(width)
        turtle.left(90)
    turtle.end_fill()
if __name__ == '__main__':
    main()

In [1]:
def pass_it(x, y):
    z = x , ", ", y

num1 = 4
num2 = 8
answer = pass_it(num1, num2)
print(answer)

None

In [3]:
def pass_it(x, y):
    z = x + ", " + y
    return (z)

name2 = "Julian"
name1 = "Smith"
fullname = pass_it(name1, name2)
print(fullname)

Smith, Julian

In [4]:
def show_values(a, b, *, c, d):
    print(a, b, c, d)

In [8]:
def main():
    try:
        total = int(input("Enter total cost of items? "))
        num_items = int(input("Number of items"))
        average = total / num_items
    except ZeroDivisionError:
        print('ERROR: cannot have 0 items')
    except ValueError:
        print('ERROR: number of items cannot be negative')
        
if __name__ == '__main__':
    main()

Enter total cost of items?  75
Number of items 0

ERROR: cannot have 0 items

In [9]:
def main():
    try:
        total = int(input("Enter total cost of items? "))
        num_items = int(input("Number of items"))
        average = total / num_items
    except ZeroDivisionError:
        print('ERROR: cannot have 0 items')
    except ValueError:
        print('ERROR: number of items cannot be negative')
        
if __name__ == '__main__':
    main()

Enter total cost of items?  75
Number of items -5